{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "loose": false,
    "externalHelpers": true
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": false
  },
  "sourceMaps": true,
  "exclude": [".*\\.spec\\.ts$", ".*\\.test\\.ts$"]
}
